<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Nueva Dirección</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">
                        <li class="breadcrumb-item"><a href="/SCFM/faces/inicio.xhtml">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="/SCFM/faces/logistica/Direccion.xhtml">Dirección</a></li>
                        <li class="breadcrumb-item active">Nueva Dirección</li>
                        
                    </li>
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="row"></div>
                    <div class="card-body">

                        <div class="col-9">
                            <label for="Dirrec"  class="control-label">Direccion</label>
                            <textarea
                                type="text"
                                class="form-control"
                                id="Dirrec"
                                required="required"
                                placeholder="Escribir la Direccion"
                                disabled="true"
                                >79094 Wilhelmine Inlet Apt. 203 - Cheyenne, VA / 34989</textarea>
                        </div>
                        <div class="card-body">
                            <div class="col-9">
                                <button type="button" onclick="location.href = '/SCFM/faces/logistica/Direccion.xhtml';" class="btn btn-primary btn-sm">Aceptar Direccion</button>
                                <button
                                    type="button"
                                    onclick="habilitarCampos()"
                                    class="btn btn-primary btn-sm">Editar Direccion
                                </button> 


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
    </ui:define>

</ui:composition>
