<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
                    <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Instalacion</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                            
                        </li>
                        <li class="breadcrumb-item"><a href="/SCFM/faces/logistica/InstaMueble.xhtml">Instalación de mueble</a></li>
                        <li class="breadcrumb-item active">Justificación de Instalación</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="row"></div>
                        <div class="card-body">
                            <form>
                                
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="DiseñoFinalSoli" class="control-label">Evidencia de Instalación</label>
                                        <input
                                            type="file"
                                            class="form-control"
                                            id="DiseñoFinalSoli"
                                            name="file"
                                            accept=".jpg, .png, .jpeg"
                                            multiple=""/>
                                            <br/>
                                            <div id="preview" class="styleImage"></div>
                                    </div>

                                </div>


                                <div class="card-body">
                                    <div class="col-4">
                                        <button
                                            type="button"
                                            onclick="location.href='/SCFM/faces/logistica/InstaMueble.xhtml';"
                                            class="btn btn-primary btn-sm">Aceptar
                                        </button>
                                        <button
                                        type="button" class="btn bg-danger btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rechazar 
                                    </button> 
                                    </div>
                                    <div class="collapse" id="collapseExample">
                                <br/>
                                        <label for="Justif_Rech_Clien"  class="control-label">Justificación del rechazo</label>
                                    <br/>
                                        <textarea
                                        type="text"
                                        class="form-control"
                                        id="NombreCliente"
                                        required="required"
                                        placeholder="Escribir la justificacion"></textarea>
                                            <br/>
                                            <button type="button" onclick="location.href='/SCFM/faces/logistica/InstaMueble.xhtml';" class="btn btn-primary btn-sm">Confirmar Rechazo</button>  
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            
        </main>
    </ui:define>

</ui:composition>
