<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Lista de Acceso</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">
                        <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Lista de Acceso</li>
                </ol>

                <div class="card-body">
                    

                    <table id="Tablas" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>

                                <th>Nombre</th>
                                <th>Primer Apellido</th>
                                <th>Segundo Apellido</th>
                                <th>Puesto</th>
                                <th>Opción</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Carlos</td>
                                <td>Vega</td>
                                <td>Hernandez</td>

                                <td>Empleado</td>

                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td>Juan</td>
                                <td>Reyes</td>
                                <td>Pérez</td>

                                <td>Administrador</td>

                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>

                            </tr>
                            <tr>

                                <td>Carolina</td>
                                <td>Obando</td>
                                <td>Perez</td>

                                <td>Jefe de taller</td>

                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </main>
    </ui:define>

</ui:composition>
