<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Confirmación Calidad Empresa</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">
                        <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SCFM/faces/calidad/CalidadEmpresa.xhtml">Calidad Empresa</a>
                    </li>
                    <li class="breadcrumb-item active">Confirmación Calidad Empresa</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="col-4">
                            <label for="Encarg_Cali_Cliente" class="control-label">Empleado encargado de revisión</label>
                            <select class="form-control" id="Encarg_Cali_Cliente">
                                <option selected="selected">Seleccionar</option>
                                <option value="Emp1">Empleado 1</option>
                                <option value="Emp2">Empleado 2</option>
                                <option value="Emp3">Empleado 3</option>
                                <option value="Emp4">Empleado 4</option>
                            </select>
                        </div>
                        <br/>
                        <div class="col-9">
                            <div class="col-4">
                                <label for="Evidenc_CalCliente" class="control-label">Evidencia</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    id="Evidenc_CalCliente"
                                    required="required"/>
                            </div>
                            <br/>
                                <button type="button" class="btn btn-success btn-sm" onclick="location.href='/SCFM/faces/calidad/RevisarCalidad.xhtml';">Aceptar Calidad</button>
                                <button
                                    type="button" class="btn bg-danger btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rechazar Calidad
                                </button> 
                        </div>
                        <br/>
                            <div class="collapse" id="collapseExample">

                                <label for="Justif_Rech_Clien" class="control-label" >Justificación del rechazo de calidad</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Justif_Rech_Clien"
                                    name="Just_Rechazo"
                                    placeholder="Escriba razón del rechazo"/>
                                <br/>
                                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/SCFM/faces/calidad/RevisarCalidad.xhtml';">Confirmar Rechazo</button>  
                            </div>
                    </div>
                </div>
            </div>
        </main>
    </ui:define>

</ui:composition>
