<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Iniciar Sesión - MDTek</title>
        <h:outputStylesheet library="css" name="styles.css"/>
        <h:outputScript name="scripts.js" library="js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </h:head>
    <h:body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <center>
                                            <h:graphicImage library="images" name="Asset 15.png" style="width: 300px; height: 175px; " />
                                        </center>
                                        <h1 class="text-center font-weight-light my-4">Iniciar Sesión</h1></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputText" type="text" placeholder="Escriba su Usuario" required="true" />
                                                <label for="validationCustom01">Nombre de Usuario</label>

                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="Escriba su Contraseña" required="true"/>
                                                <label for="inputPassword">Contraseña</label>
                                                <h:message for="inputPassword"/>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="/SCFM/faces/Contraseña.xhtml">¿Olvido su contraseña?</a>

                                                <input type="submit" value="Iniciar" class="btn btn-primary" onclick="location.href = '/SCFM/faces/inicio.xhtml';"/>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">

                        </div>
                    </div>
                </footer>
            </div>
        </div>





    </h:body>
</html>

