<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Inicio</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Inicio</li>
                </ol>


                <div class="buzo">

                    <a href="#" data-bs-toggle="collapse" data-bs-target="#Noti_Venta" aria-expanded="false" aria-controls="Noti_Venta">Venta</a>
                    <div class="dropdowns collapse" id="Noti_Venta">
                        
                        <div class="notify_item">
                            <div class="notify_info">
                                <p>Nueva Orden de Trabajo<span>OT-205</span></p>
                                <span class="notify_time" >hace un momento</span>
                            </div>
                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/ventas/Visualizar_OTVenta.xhtml';">ver</button>

                        </div>


                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva solicitud de servicio<span>SS-205</span></p>
                                <span class="notify_time" >hace 3 horas</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/ventas/VerSoliServicio.xhtml';">ver</button>

                        </div>
                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva cotización<span>SS-205</span></p>
                                <span class="notify_time">hace 3 minutos</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/ventas/VerCotizacion.xhtml';">ver</button>

                        </div>

                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva Orden de Servicio<span>OS-205</span></p>
                                <span class="notify_time">hace 5 días</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/ventas/EditarOrdenServ.xhtml';">ver</button>

                        </div>
                    </div>




                    <a href="#" data-bs-toggle="collapse" data-bs-target="#Noti_Produc" aria-expanded="false" aria-controls="Noti_Produc">Producción</a>
                    <div class="dropdowns collapse" id="Noti_Produc">
                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva Orden de Trabajo<span>OT-205</span></p>
                                <span class="notify_time" >hace 5 minutos</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/produccion/Ver_OT.xhtml';">ver</button>

                        </div>


                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva solicitud de Compra de materiales<span>OT-325</span></p>
                                <span class="notify_time" >hace 3 horas</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/produccion/CompraMateriales.xhtml';">ver</button>

                        </div>
                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva Orden de Reparación<span>OR-205</span></p>
                                <span class="notify_time" >hace un momento</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/VerRepa.xhtml';">ver</button>

                        </div>
                    </div>
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#Noti_Cali" aria-expanded="false" aria-controls="Noti_Cali">Calidad</a>
                    <div class="dropdowns collapse" id="Noti_Cali">
                        


                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva solicitud de proceso de calidad<span>OT-205</span></p>
                                <span class="notify_time" >hace 3 horas</span>
                            </div>
                            <button class="btn bg-primarynoti">Aceptar</button>
                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/calidad/RevisarCalidad.xhtml';">ver</button>

                        </div>
                        



                            
                    </div>
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#Noti_Logis" aria-expanded="false" aria-controls="Noti_Logis">Logistica</a>
                    <div class="dropdowns collapse" id="Noti_Logis">
                        <div class="notify_item">
                        <div class="notify_info">
                                <p>Nueva solicitud de ingreso al area de logistica<span>OT-205</span></p>
                                <span class="notify_time" >hace 3 horas</span>
                            </div>
                            <button class="btn bg-primarynoti">Aceptar</button>
                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/calidad/RevisarCalidad.xhtml';">ver</button>

                        </div>
                        
                       
                    </div>
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#Noti_Garan" aria-expanded="false" aria-controls="Noti_Garan">Garantia</a>
                    <div class="dropdowns collapse" id="Noti_Garan">
                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Terminó garantia<span>OT-377</span></p>
                                <span class="notify_time" >hace un momento</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/ventas/Visualizar_OTVenta.xhtml';">ver</button>

                        </div>


                        <div class="notify_item">



                            <div class="notify_info">
                                <p>Nueva solicitud de Garantia<span>OG-205</span></p>
                                <span class="notify_time" >hace 3 horas</span>
                            </div>

                            <button class="btn btn-successnoti" onclick="location.href = '/SCFM/faces/garantia/EditarOrdenGaran.xhtml';">ver</button>

                        </div>
                        
                    </div>




                </div>



            </div>
        </main>
    </ui:define>

</ui:composition>
