<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <form>
                <div class="container-fluid px-6">
                    <h1 class="mt-4">Ver Orden de Reparación</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item"> <a href="/SCFM/faces/OrdenRepa.xhtml"> Orden de Reparación</a></li>
                        <li class="breadcrumb-item active" >Ver Orden de Reparación</li>
                        
                    </ol>
                    <div class="card body">

                        <div class="card-body ">

                            <div class="row">

                                <div class="col-9">
                                    <label for="justifica" class="control-label">Justificación</label>
                                    <textarea
                                        type="number"
                                        class="form-control"
                                        id="justifica"
                                        required="required"
                                        value="Mal acabado en la pintura"
                                        disabled="true">Mal acabado en la pintura</textarea>
                                </div>
                                <div class="col-3">
                                    <label for="Responsable" class="control-label">Responsable</label>
                                    <select class="form-select form-select mb-3" id="Responsable" aria-label=".form-select-lg example" disabled="true">
                                        <option >Seleccione</option>
                                        <option value="1">empleado 1</option>
                                        <option value="2" selected="selected">empleado 2</option>
                                        <option value="3">empleado 3</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-4">
                                <label for="Evidencia" class="control-label">Evidencia</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    id="Evidencia"
                                    required="required"
                                    placeholder="Escribir la justificacion"
                                    disabled="true"></input>
                            </div>

                            <div class="card-body">
                                <div class="col-4">
                                    <button
                                        type="button"
                                        
                                        class="btn btn-primary btn-sm"
                                        onclick="habilitarCampos()">Editar Reparación
                                    </button>
                                    <button
                                        type="button"
                                        onclick="location.href = '/SCFM/faces/OrdenRepa.xhtml';"
                                        class="btn btn-success btn-sm">Enviar Reparación
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </main>
    </ui:define>

</ui:composition>
