<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
        <main>

            <form action="" method="post">

                <div class="container-fluid px-4">
                    <h1 class="mt-4">Crear Solicitud de Servicio</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/ventas/SolicitudesServicio.xhtml">Solicitud de Servicio</a>
                        </li>
                        <li class="breadcrumb-item active">Crear Solicitud de Servicio</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <label for="NombreCliente" class="control-label">Nombre</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="NombreCliente"
                                        placeholder="Nombre del cliente"></input>
                                </div>

                                <div class="col-4">
                                    <label for="PriApellCliente" class="control-label">Primer Apellido</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="PriApellCliente"
                                        placeholder="1er Apellido del cliente"/>
                                </div>

                                <div class="col-4">
                                    <label for="SegApellCliente" class="control-label">Segundo Apellido</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="SegApellCliente"
                                        placeholder="2do Apellido del cliente"/>
                                </div>
                            </div>


                            <br></br>
                            <div class="row">
                                <div class="col-4">
                                    <select id="inputCedula" class="custom-select">
                                        <option selected="selected">Cédula</option>
                                        <option value="1">Física</option>
                                        <option value="2">Jurídica</option>
                                        <option value="3">DIMEX</option>
                                    </select>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="CedulaClient"
                                        placeholder="Digitar cédula"/>
                                </div>
                                <div class="col-4">
                                    <label for="TelCliente" class="control-label">Número de Teléfono</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="TelCliente"
                                        placeholder="Digitar número de teléfono"/>
                                </div>
                            </div>
                            <br></br>

                            <div class="form-group">
                                <label for="DireccInstal" class="control-label">Dirección</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="DireccInstal"
                                    placeholder="Dirección de instalación"/>
                            </div>
                            <br></br>
                            <div class="form-group">
                                <label for="CantidadMuebles" class="control-label">Cantidad Muebles</label>
                                <input type="number" class="form-control" id="CantidadMuebles" placeholder="0"/>
                            </div>

                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-4">
                                    <label for="TipoMueble" class="control-label">Tipo de mueble</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="TipoMueble"
                                        name="full_name"
                                        placeholder="Escriba el tipo de mueble"/>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="EspacioTratar" class="control-label">Espacio a tratar</label>
                                        <select class="form-control" id="EspacioTratar">
                                            <option selected="selected">Seleccionar</option>
                                            <option value="1">Hogar</option>
                                            <option value="2">Oficina</option>
                                            <option value="3">Area comercial</option>

                                        </select>
                                    </div>

                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="AreaEspacio" class="control-label">Area de Espacio</label>
                                        <select class="form-control" id="AreaEspacio">
                                            <option selected="selected">Seleccionar</option>
                                            <option value="1">Cocina</option>
                                            <option value="2">Closet</option>
                                            <option value="3">Baños</option>
                                            <option value="4">Oficinas</option>

                                        </select>
                                    </div>

                                </div>

                            </div>
                            <br></br>

                            <div class="form-group">
                                <label for="TipoModelo" class="control-label">Tipo de modelo</label>
                                <input type="text" class="form-control" id="TipoModelo" placeholder="Escriba el tipo de modelo"/>
                            </div>
                            <br></br>
                            <div class="form-group">
                                <label for="CantidadDiseño" class="control-label">Cantidad Diseño</label>
                                <input type="number" class="form-control" id="CantidadDiseño" placeholder="0"/>
                            </div>

                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-4">
                                    <label for="TipoMaterial" class="control-label">Tipo de Material</label>
                                    <select class="form-control" id="TipoMaterial">
                                        <option selected="selected">Seleccionar</option>
                                        <option value="1">Madera</option>
                                        <option value="2">granito</option>
                                        <option value="3">Melamina</option>
                                        <option value="4">Cuarzo</option>
                                        <option value="5">Marmol</option>
                                    </select>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="ColorSoli" class="control-label">Color</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="ColorSoli"
                                            placeholder="Escriba el color elegido por el cliente"/>
                                    </div>

                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="DiseñoFinalSoli" class="control-label">Diseño cliente</label>
                                        <input
                                            type="file"
                                            class="form-control"
                                            id="DiseñoFinalSoli"
                                            name="file"
                                            accept=".jpg, .png, .jpeg" multiple="multiple"/>
                                        <br></br>
                                        <div id="preview" class="styleImage"></div>
                                    </div>

                                </div>

                            </div>
                            <br></br>
                            <div class="form-group">
                                <label for="Not_Dise_Clie" class="control-label">Notas Diseño</label>
                                <input type="text" class="form-control" id="Not_Dise_Clie" placeholder="Notas de diseño del cliente"/>
                            </div>


                            <br></br>
                            <div class="form-group">
                                <label for="CantidadMedidas" class="control-label">Cantidad Medidas</label>
                                <input type="number" class="form-control" id="CantidadMedidas" placeholder="0"/>
                            </div>

                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="Descrip_Soli" class="control-label">Descripcion</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Descrip_Soli"
                                    placeholder="Escriba Descripción de las medidas"/>
                            </div>

                            <br></br>
                            <div class="row">
                                <div class="col-4">
                                    <label for="MedidasAltoMueble" class="control-label">Medidas alto</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MedidasAltoMueble"
                                        placeholder="Medidas de alto del mueble"/>
                                </div>

                                <div class="col-4">
                                    <label for="MedidasAnchoMueble" class="control-label">Medidas ancho</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MedidasAnchoMueble"
                                        placeholder="Medidas de ancho del mueble"/>
                                </div>
                                <div class="col-4">
                                    <label for="MedidasFondoMueble" class="control-label">Medidas Fondo</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MedidasFondoMueble"
                                        placeholder="Medidas de fondo del mueble"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="TipoElemento" class="control-label">Tipo Elemento</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="TipoElemento"
                                        placeholder="Escriba el tipo de elemento"/>
                                </div>
                            </div>
                            <br></br>
                            <div class="row">
                                <div class="col-4">
                                    <label for="MedidasAltoElemento" class="control-label">Medidas alto</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MedidasAltoElemento"
                                        placeholder="Medidas de alto del elemento"/>
                                </div>

                                <div class="col-4">
                                    <label for="MedidasAnchoElemento" class="control-label">Medidas ancho</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MedidasAnchoElemento"
                                        placeholder="Medidas de ancho del elemento"/>
                                </div>
                                <div class="col-4">
                                    <label for="MedidasFondoElemento" class="control-label">Medidas Fondo</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MedidasFondoElemento"
                                        placeholder="John Deer"/>
                                </div>
                            </div>
                            <br></br>
                            <div class="form-group">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-success">Guardar formulario</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </form>

        </main>
    </ui:define>

</ui:composition>
