<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>

                    <form action="" method="post">

                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Ver Precio Venta</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/ventas/PrecioVenta.xhtml">Precio Venta</a>
                                </li>
                                <li class="breadcrumb-item active">Ver Precio Venta</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="CostoTotal_Material" class="control-label"><strong>Costo total de material</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="CostoTotal_Material"
                                                value="25000" readonly="readonly"/>
                                        </div>

                                        <div class="col-4">
                                            <label for="Estim_Mano_Obra" class="control-label"><strong>Estimación de Mano de obra</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="Estim_Mano_Obra"
                                                value="30000" readonly="readonly"/>
                                        </div>

                                        <div class="col-4">
                                            <label for="Estim_Plazo_Entrega" class="control-label"><strong>Estimación de Plazo de entrega</strong></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="Estim_Plazo_Entrega"
                                                value="22 días" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <br></br>
                                    <div class="row">
                                
                                        <div class="col-4">
                                            <label for="Descuento" class="control-label"><strong>Descuento</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="Descuento"
                                                value="5000" readonly="readonly"/>
                                        </div>
                                        <div class="col-4">
                                            <label for="CostosAgre" class="control-label"><strong>Costos Agregados</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="CostosAgre"
                                                value="0" readonly="readonly"/>
                                        </div>
                                    </div>
                                    
                                    <br></br>
                                    
                                <div class="col-4">
                                    <label for="TotalPrecio" class="control-label"><strong>Precio de Venta</strong></label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="TotalPrecio"
                                            value="60000" readonly="readonly"/>
                                        <br></br>
                                            <button type="button" class="btn btn-success btn-sm">Aceptar Precio de Venta</button> 
                                            <button type="button" class="btn bg-danger btn-sm" data-bs-toggle="collapse" data-bs-target="#Div_Rechazo" aria-expanded="false" aria-controls="Div_Rechazo">Rechazar Precio de Venta</button> 
                                     </div>
                                    <br/>
                                    <div class="collapse" id="Div_Rechazo">

                                <label for="Justif_Rech_Precio" class="control-label" >Justificación del rechazo del precio de venta</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Justif_Rech_Precio"
                                    name="Just_Rechazo"
                                    placeholder="Escriba razón del rechazo"/>
                                <br/>
                                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/SCFM/faces/ventas/PrecioVenta.xhtml';">Confirmar Rechazo</button>  
                            </div>
                                </div>
                            </div>
                    </div>
                    

                        </form>

                    </main>
    </ui:define>

</ui:composition>
