<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                    <form action="" method="post">
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Subir Cotización Proveedor</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/ventas/Cotiz_Proveed.xhtml">Cotización Proveedor</a>
                                </li>
                                <li class="breadcrumb-item active">Subir Cotización Proveedor</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="col-4">
                                        <label for="SoliServi_CotFinal" class="control-label">Solicitud de Servicio</label>
                                        <select class="form-control" id="SoliServi_CotFinal">
                                            <option selected="selected">Seleccionar</option>
                                            <option value="1">SS-205</option>
                                            <option value="2">SS-377</option>
                                            <option value="3">SS-398</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="CotizFinal" class="control-label diseños">Cotización Proveedor</label>
                                            <input
                                                type="file"
                                                class="form-control"
                                                id="CotizFinal"
                                                name="file" multiple="multiple"/>
                                            <br></br>
                                                <div id="preview" class="styleImage"></div>
                                        </div>
                                     </div> 
                                     <div class="col-4">
                                     <label for="PrecioTotal_CotiF" class="control-label">Precio Total</label>
                                     <input
                                         type="text"
                                         class="form-control"
                                         id="PrecioTotal_CotiF"
                                         placeholder="Escriba el precio total de la cotización"/>
                                     <br></br>
                                         <button type="button" class="btn btn-primary btn-sm">Guardar Cotización</button> 
                                        </div> 
                            </div>
                        </div>
                    </div>
                    

                        </form>

                    </main>
    </ui:define>

</ui:composition>
