<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                    <form action="" method="post">
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Subir Diseño Final</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/ventas/DiseñosFinales.xhtml">Diseño Final</a>
                                </li>
                                <li class="breadcrumb-item active">Subir Diseño Final</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="col-4">
                                        <label for="SoliServi_Cot" class="control-label">Solicitud de Servicio</label>
                                        <select class="form-control" id="SoliServi_Cot">
                                            <option selected="selected">Seleccionar</option>
                                            <option value="1">SS-205</option>
                                            <option value="2">SS-377</option>
                                            <option value="3">SS-398</option>
                                        </select>
                                    </div>
                                    <br></br>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="DiseñoFinal" class="control-label diseños">Diseño Final</label>
                                            <input
                                                type="file"
                                                class="form-control"
                                                id="DiseñoFinal"
                                                name="file"
                                                accept=".jpg, .png, .jpeg" multiple="multiple"/>
                                            <br></br>
                                                <div id="preview" class="styleImage"></div>
                                        </div>

                                    </div>  
                                    <div class="col-9">
                                        <button type="button" class="btn btn-primary btn-sm">Guardar Diseño Final</button>
        
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    

                        </form>

                    </main>
    </ui:define>

</ui:composition>
