<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <form>



                <div class="container-fluid px-4">
                    <h1 class="mt-4">Editar Cronograma</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/produccion/MenuCronograma.xhtml">Cronogramas</a>
                        </li>
                        <li class="breadcrumb-item active">Editar Cronograma</li>
                    </ol>

                    <div class="card mb-4">
                        <div class="card-header">
                            <button type="button" onclick="location.href = '/SCFM/faces/produccion/VerCrono.xhtml';" class="btn btn-primary btn-sm">Volver</button>
                        </div>
                        <div class="container-fluid">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">

                                        <label for="start">Orden de Trabajo</label>

                                        <select class="form-control" aria-label=".form-select-lg example" disabled="true">
                                            <option >Seleccionar O.T</option>
                                            <option value="1" selected="selected">OT-205</option>
                                            <option value="2">OT-377</option>
                                            <option value="3">OT-398</option>
                                        </select>

                                    </div>
                                    <div class="col-4">

                                        <label for="start">Fecha de finalización</label>

                                        <input type="date" id="FechaFinalTarea" name="trip-start" class="form-control"
                                               value="2018-07-22"
                                               min="2018-01-01" max="2025-12-31"/>

                                    </div>
                                </div>
                                <br></br>

                                <br></br>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="Nomb_Tarea" class="control-label">Nombre de la tarea</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="Nomb_Tarea"
                                            placeholder="Nombre de la tarea"/>
                                    </div>
                                    <br></br>

                                    <div class ="col-4">
                                        <p>Empleado Asignado: 
                                            <select  class ="form-control" name="empleados">
                                                <option>Empleado1</option>
                                                <option>Empleado2</option>
                                                <option>Empleado3</option>
                                                <option>Empleado4</option>
                                            </select>

                                        </p>
                                    </div>
                                    <div class="col-2">
                                        <br></br>

                                        <button type="button" class="btn btn-success " style="background-color: green;">Agregar</button> 

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card-body">


                            <table id="Tablas" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Empleado Asigando</th>
                                        <th>Nombre de la Tarea</th>
                                        <th>Fecha Finalización</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><select id="empleadoEditar" class="form-control">
                                                <option value="1" selected="selected">Empleado 1</option>
                                                <option value="2">Empleado 2</option>
                                                <option value="3">Empleado 3</option>
                                                <option value="4">Empleado 4</option>
                                            </select></td>
                                        <td><input
                                                type="text"
                                                class="form-control"
                                                id="TareaEditada"
                                                required="required"
                                                value="Pintar mesa"/></td>
                                        <td><input type="date" id="FechaFEditada" name="trip-start" class="form-control"
                                               value="2021-06-23"
                                               min="2018-01-01" max="2025-12-31"/></td>
                                        <td><input type='button' class='borrar btn btn-primary' value='Eliminar'/></td>

                                    </tr>
                                    <tr>
                                        <td><select id="empleadoEditar" class="form-control">
                                                <option value="1">Empleado 1</option>
                                                <option value="2" selected="selected">Empleado 2</option>
                                                <option value="3">Empleado 3</option>
                                                <option value="4">Empleado 4</option>
                                            </select></td>
                                        <td><input
                                                type="text"
                                                class="form-control"
                                                id="TareaEditada"
                                                required="required"
                                                value="Poner patas"/></td>
                                        <td><input type="date" id="FechaFEditada" name="trip-start" class="form-control"
                                               value="2021-09-21"
                                               min="2018-01-01" max="2025-12-31"/></td>
                                        <td><input type='button' class='borrar btn btn-primary' value='Eliminar'/></td>
                                    </tr>
                                    <tr>
                                        <td><select id="empleadoEditar" class="form-control">
                                                <option value="1">Empleado 1</option>
                                                <option value="2">Empleado 2</option>
                                                <option value="3" selected="selected">Empleado 3</option>
                                                <option value="4">Empleado 4</option>
                                            </select></td>
                                        <td><input
                                                type="text"
                                                class="form-control"
                                                id="TareaEditada"
                                                required="required"
                                                value="Barnisar"/></td>
                                        <td><input type="date" id="FechaFEditada" name="trip-start" class="form-control"
                                               value="2021-09-21"
                                               min="2018-01-01" max="2025-12-31"/></td>
                                        <td><input type='button' class='borrar btn btn-primary' value='Eliminar'/></td>


                                    </tr>
                                </tbody>
                            </table>
                            <br></br>
                            <div class="form-group">
                                <div class="col-4">
                                    <button type="button" class="btn btn-success " onclick="location.href = '/SCFM/faces/produccion/MenuCronograma.xhtml';" style="background-color: green;">Guardar Cronograma</button> 

                                </div>

                            </div>
                        </div>

                    </div>
                </div>



            </form>




        </main>
    </ui:define>

</ui:composition>
