<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <form>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Editar mano de obra</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/SCFM/faces/inicio.xhtml">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="/SCFM/faces/produccion/ManodeObra.xhtml">Mano de Obra</a></li>
                            <li class="breadcrumb-item active">Editar mano de Obra</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="row">
                                        <p>Empleados: 
                                            <select name="empleados">
                                              <option>Empleado 1</option>
                                              <option>Empleado 2</option>
                                              <option>Empleado 3</option>
                                              <option>Empleado 4</option>
                                            </select>
                                         </p>
                                        
                                         
                                          </div>
                            </div>
                            
                            <div class="card-body">
                                    
                                    
                                          <div class="col-4">
                                            <label for="HorasNormalesMO" class="control-label">Horas Normales</label>
                                            <input
                                        type="number"
                                        class="form-control"
                                        id="HorasNormalesMO" min="0"/>
                                        </div>
                                    <br></br>
                                    <div class="col-4">
                                      <label for="HorasExtraMO" class="control-label">Horas Extraordinarias</label>
                                      <input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraMO" min="0"/>
                                  </div>


                                    <br></br>
                                    <br></br>
                            <div class="col-4">
                              <label for="HorasExtraDobleMO" class="control-label">Horas Doble Extraordinarias</label>
                              <input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraDobleMO" min="0"/>
                          </div>
                      
                        
                                  
                                   
                                    <br></br>
                                <div class="form-group">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" style="background-color: green;">Confirmar</button> 
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                        <table id="Tablas" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Empleado</th>
                                        <th>Horas Nomales</th>
                                        <th>Horas Extraordinarias</th>
                                        <th>Horas  Doble Extraordinarias</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><select id="empleadoEditar" class="form-control">
                                                <option value="1" selected="selected">Empleado 1</option>
                                                <option value="2">Empleado 2</option>
                                                <option value="3">Empleado 3</option>
                                                <option value="4">Empleado 4</option>
                                            </select></td>
                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasNormalesEdiMO" min="0" value="2"/></td>

                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraEdiMO" min="0" value="3"/></td>
                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraDobleEdiMO" min="0" value="4.5"/></td>
                                        <td><input type='button' class='borrar btn btn-primary' value='Eliminar'/></td>

                                    </tr>
                                   <tr>
                                        <td><select id="empleadoEditar" class="form-control">
                                                <option value="1">Empleado 1</option>
                                                <option value="2" selected="selected">Empleado 2</option>
                                                <option value="3">Empleado 3</option>
                                                <option value="4">Empleado 4</option>
                                            </select></td>
                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasNormalesEdiMO" min="0" value="8"/></td>

                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraEdiMO" min="0" value="1.5"/></td>
                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraDobleEdiMO" min="0" value="4"/></td>
                                        <td><input type='button' class='borrar btn btn-primary' value='Eliminar'/></td>

                                    </tr>
                                    <tr>
                                        <td><select id="empleadoEditar" class="form-control">
                                                <option value="1">Empleado 1</option>
                                                <option value="2">Empleado 2</option>
                                                <option value="3"  selected="selected">Empleado 3</option>
                                                <option value="4">Empleado 4</option>
                                            </select></td>
                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasNormalesEdiMO" min="0" value="15"/></td>

                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraEdiMO" min="0" value="2"/></td>
                                        <td><input
                                        type="number"
                                        class="form-control"
                                        id="HorasExtraDobleEdiMO" min="0" value="0"/></td>
                                        <td><input type='button' class='borrar btn btn-primary' value='Eliminar'/></td>

                                    </tr>
                                </tbody>
                            </table>
                                <br/>
                                <div class="col-4">
                                        <button type="submit" onclick="location.href='/SCFM/faces/produccion/ManodeObra.xhtml';" class="btn btn-primary" style="background-color: green;">Actualizar Mano de Obra</button> 


                                    </div>
                    </div>
                        </div>
                        </div>
                        </form>
                </main>
    </ui:define>

</ui:composition>
