<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <form action="" method="post">

                <div class="container-fluid px-4">
                    <h1 class="mt-4">Actualizar inventario</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inventario/InvenMaterial.xhtml">Materiales</a>
                        </li>
                        <li class="breadcrumb-item active">Actualizar inventario</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <!-- Full Name -->
                                    <label for="PriApellCliente" class="control-label">Nombre</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="PriApellCliente"
                                        name="full_name"
                                        value="Melamina"/>
                                </div>

                                <div class="col-4">
                                    <label for="NombreCliente" class="control-label">Precio</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="NombreCliente"
                                        name="full_name"
                                        value="¢25.500"/>
                                </div>

                                <div class="col-2">
                                    <!-- Full Name -->
                                    <label for="PriApellCliente" class="control-label">Cantidad</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="PriApellCliente"
                                        name="full_name"
                                        value="20"
                                        min="0"/>
                                </div>


                            </div> 

                            <br/>
                            <button
                                type="button"
                                onclick="location.href = '/SCFM/faces/inventario/InvenMaterial.xhtml';"
                                class="btn btn-success btn-sm">Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </ui:define>

</ui:composition>
