<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Inventario de Materiales</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/SCFM/faces/inicio.xhtml">Inicio</a></li>
                    <li class="breadcrumb-item active">Materiales</li>
                </ol>


                <div class="card-body">
                    <div style="text-align: right;">

                        <button
                            type="button"
                            onclick="location.href = '/SCFM/faces/inventario/NuevoInvMate.xhtml';"
                            class="btn btn-success btn-sm">Nuevo Material</button>
                        <br/>
                        <br/>
                    </div>
                    
                    <table id="Tablas" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Opción</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Melamina Blanca</td>
                                <td>¢25.500</td>
                                <td>20</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            type="button"
                                            onclick="location.href = '/SCFM/faces/inventario/EditarInvenMate.xhtml';"
                                            class="btn btn-primary btn-sm">Actualizar</button>

                                    </div>

                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>Melamina Blanca</td>
                                <td>¢25.500</td>
                                <td>20</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            type="button"
                                            onclick="location.href = '/SCFM/faces/inventario/EditarInvenMate.xhtml';"
                                            class="btn btn-primary btn-sm">Actualizar</button>

                                    </div>

                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>Melamina Blanca</td>
                                <td>¢25.500</td>
                                <td>20</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            type="button"
                                            onclick="location.href = '/SCFM/faces/inventario/EditarInvenMate.xhtml';"
                                            class="btn btn-primary btn-sm">Actualizar</button>

                                    </div>

                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
    </ui:define>

</ui:composition>
