<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
                     <main>
                <form action="" method="post">

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Editar Orden de Garantía</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/garantia/OrdenGarantia.xhtml">Orden de Garantía</a>
                            </li>
                            <li class="breadcrumb-item active">Editar Orden de Garantía</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">

                                <!-- Full Name -->
                                <div class="col-4">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" disabled="true">
                                   <option>Orden de Trabajo</option>
                                   <option value="1" selected="selected">OT-205</option>
                                   <option value="2">OT-377</option>
                                   <option value="3">OT-398</option>
                                 </select>
                               </div>
                                <div class="row">
                                    <div class="col-4">
                                        <select
                                            class="form-select form-select mb-3"
                                            aria-label=".form-select-lg example" disabled="true">
                                            <option>Visitante 1</option>
                                            <option value="1">Empleado 1</option>
                                            <option value="2" selected="selected" >Empleado 2</option>
                                            <option value="3">Empleado 3</option>
                                        </select>
                                    </div>

                                    <div class="col-4">
                                        <select
                                            class="form-select form-select mb-3"
                                            aria-label=".form-select-lg example" disabled="true">
                                            <option style="background-color: gray">Visitante 2</option>
                                            <option value="1" selected="selected">Arquitecto 1</option>
                                            <option value="2">Arquitecto 2</option>
                                            <option value="3">Arquitecto 3</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-9">
                                    <label for="NombreCliente" class="control-label">Dirección</label>
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="NombreCliente"
                                        required="required"
                                        disabled="true">Calle Luisa Garza, 40, Casa 2</textarea>
                                    <br></br>
                            </div>

                            <div class="row">

                                <div class="col-3">
                                    <label for="PriApellCliente" class="control-label">Fecha de Visita</label>
                                    <input
                                        type="date"
                                        class="form-control"
                                        id="PriApellCliente"
                                        name="full_name"
                                        value="2021-07-22"
                                        readonly="readonly"></input>
                                </div>
                                <div class="col-3">
                                    <label for="PriApellCliente" class="control-label">Hora de Visita</label>
                                    <input
                                        type="time"
                                        class="form-control"
                                        id="PriApellCliente"
                                        name="full_name"
                                        value="07:30"
                                        required="required"
                                        readonly="readonly"></input>
                                </div>

                                
                            
                            </div>

                                <br></br>
                            <div>
                                <button type="button" class="btn btn-primary" onclick="habilitarCampos()">Editar</button>
                                <button
                                    type="button"
                                    
                                    onclick="location.href='/SCFM/faces/garantia/OrdenGarantia.xhtml';"
                                    class="btn btn-success btn">Guardar</button>
                                
                                </div>
                            
                        

                    </div>
                </div>
            </div>
        </form>
    </main>
    </ui:define>

</ui:composition>
