<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Garantía</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active">Tiempo de Garantía</li>
                    </ol>
                    
                        <div class="card-body">
                            <table id="Tablas" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Orden de Trabajo</th>
                                        <th>Cliente</th>
                                        <th>Proyecto</th>
                                        <th>Estado Garantia</th>
                                        <th>Fecha de inicio</th>
                                        <th>Fecha finalización</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>OT-205</td>
                                        <td>Juan Solano</td>
                                        <td>Proyecto Juan Carlos</td>
                                        <td>Sin terminar</td>
                                        <td>11/4/2021</td>
                                        <td>11/4/2022</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>OT-377</td>
                                        <td>Mariana López</td>
                                        <td>Proyecto Mariana López</td>
                                        <td>Terminada</td>
                                        <td>11/4/2019</td>
                                        <td>11/4/2021</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>OT-398</td>
                                        <td>Rafael Esquivel</td>
                                        <td>Proyecto Farmacia RE</td>
                                        <td>Sin terminar</td>
                                        <td>11/4/2021</td>
                                        <td>11/4/2022</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                </div>
            </main>
    </ui:define>

</ui:composition>
